.ps-meeting-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.ps-meeting-ps-meeting {
  width: 100%;
  height: 1024px;
  display: flex;
  overflow: hidden;
  position: relative;
  max-width: 2500;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.ps-meeting-rectangle9 {
  top: -13px;
  left: 0px;
  width: 2500px;
  height: 77px;
  position: absolute;
}
.ps-meeting-navlink {
  display: contents;
}
.ps-meeting-confirmmeetingps {
  top: 857px;
  left: 98px;
  width: 264px;
  height: 144px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  text-decoration: none;
}
.ps-meeting-rectangle6 {
  top: 0px;
  left: 0px;
  width: 264px;
  height: 144px;
  position: absolute;
  border-radius: 20px;
}
.ps-meeting-text {
  top: 45px;
  left: 47px;
  color: rgba(247, 247, 247, 1);
  width: 173px;
  height: auto;
  position: absolute;
  font-size: 36px;
  font-style: Regular;
  text-align: center;
  font-family: Crimson Text;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.ps-meeting-navlink1 {
  display: contents;
}
.ps-meeting-psreturn {
  top: 0px;
  left: 0px;
  width: 64px;
  height: 64px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  text-decoration: none;
}
.ps-meeting-rectangle61 {
  top: 0px;
  left: 0px;
  width: 64px;
  height: 64px;
  position: absolute;
  border-radius: 20px;
}
.ps-meeting-rectangle18 {
  top: 4px;
  left: 5.777777671813965px;
  width: 53px;
  height: 53px;
  position: absolute;
}
.ps-meeting-form {
  width: 1774px;
  height: 670px;
  display: flex;
}
.ps-meeting-text02 {
  top: 506px;
  left: 47px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 36px;
  font-style: Regular;
  text-align: center;
  font-family: Crimson Text;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.ps-meeting-container1 {
  flex: 0 0 auto;
  width: 425px;
  height: auto;
  display: flex;
  flex-direction: column;
}
.ps-meeting-thq-dropdown {
  width: 425px;
  cursor: pointer;
  height: 51px;
  display: inline-block;
  position: relative;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius2);
}
.ps-meeting-dropdown-toggle {
  fill: #595959;
  color: #595959;
  width: 100%;
  height: 100%;
  display: inline-flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius2);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.ps-meeting-text04 {
  font-size: 30px;
  font-style: normal;
  text-align: center;
  font-weight: 500;
  margin-right: 4px;
  vertical-align: middle;
}
.ps-meeting-dropdown-arrow {
  transition: 0.3s;
}
.ps-meeting-icon {
  width: 18px;
  height: 18px;
  transition: 0.3s;
}
.ps-meeting-dropdown-list {
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  background-color: var(--dl-color-gray-white);
  list-style-position: inside;
}
.ps-meeting-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius2);
}
.ps-meeting-dropdown-toggle01 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.ps-meeting-dropdown-toggle01:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.ps-meeting-text05 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
}
.ps-meeting-dropdown1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius2);
}
.ps-meeting-dropdown-toggle02 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.ps-meeting-dropdown-toggle02:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.ps-meeting-text08 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
}
.ps-meeting-dropdown2 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius2);
}
.ps-meeting-dropdown-toggle03 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.ps-meeting-dropdown-toggle03:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.ps-meeting-text09 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
}
.ps-meeting-image {
  width: 296px;
  height: 85px;
  object-fit: cover;
}
.ps-meeting-thq-dropdown1 {
  width: 425px;
  cursor: pointer;
  height: 51px;
  display: inline-block;
  position: relative;
  transition: 0.3s;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius2);
}

.ps-meeting-dropdown-toggle04 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius2);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.ps-meeting-text12 {
  font-size: 30px;
  font-style: normal;
  text-align: center;
  font-weight: 500;
  margin-right: 4px;
  vertical-align: middle;
}
.ps-meeting-dropdown-arrow1 {
  transition: 0.3s;
}
.ps-meeting-icon2 {
  width: 18px;
  height: 18px;
  transition: 0.3s;
}
.ps-meeting-dropdown-list1 {
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  background-color: var(--dl-color-gray-white);
  list-style-position: inside;
}
.ps-meeting-dropdown3 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius2);
}
.ps-meeting-dropdown-toggle05 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.ps-meeting-dropdown-toggle05:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.ps-meeting-text13 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
}
.ps-meeting-dropdown4 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius2);
}
.ps-meeting-dropdown-toggle06 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.ps-meeting-dropdown-toggle06:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.ps-meeting-text16 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
}
.ps-meeting-dropdown5 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius2);
}
.ps-meeting-dropdown-toggle07 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.ps-meeting-dropdown-toggle07:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.ps-meeting-text17 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
}
.ps-meeting-image1 {
  width: 296px;
  height: 85px;
  object-fit: cover;
}
.ps-meeting-thq-dropdown2 {
  width: 425px;
  cursor: pointer;
  height: 53px;
  display: inline-block;
  position: relative;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius2);
}
.ps-meeting-dropdown-toggle08 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius2);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.ps-meeting-text20 {
  font-size: 30px;
  font-style: normal;
  text-align: center;
  font-weight: 500;
  margin-right: 4px;
  vertical-align: middle;
}
.ps-meeting-dropdown-arrow2 {
  transition: 0.3s;
}
.ps-meeting-icon4 {
  width: 18px;
  height: 18px;
  transition: 0.3s;
}
.ps-meeting-dropdown-list2 {
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  background-color: var(--dl-color-gray-white);
  list-style-position: inside;
}
.ps-meeting-dropdown6 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius2);
}
.ps-meeting-dropdown-toggle09 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.ps-meeting-dropdown-toggle09:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.ps-meeting-text21 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
}
.ps-meeting-dropdown7 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius2);
}
.ps-meeting-dropdown-toggle10 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.ps-meeting-dropdown-toggle10:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.ps-meeting-text24 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
}
.ps-meeting-dropdown8 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius2);
}
.ps-meeting-dropdown-toggle11 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.ps-meeting-dropdown-toggle11:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.ps-meeting-text25 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
}
.ps-meeting-image2 {
  width: 296px;
  height: 154px;
  object-fit: cover;
}
.ps-meeting-textarea {
  width: 1266px;
  height: 288px;
  font-size: 30px;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: #dacccc;
}
@media(max-width: 1600px) {
  .ps-meeting-textarea {
    width: 1000px;
  }
}
@media(max-width: 991px) {
  .ps-meeting-textarea {
    width: 750px;
  }
}
@media(max-width: 767px) {
  .ps-meeting-textarea {
    width: 500px;
  }
}
@media(max-width: 479px) {
  .ps-meeting-textarea {
    width: 75%;
  }
}
