.student-confirmation1-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.student-confirmation1-student-confirmation1 {
  width: 100%;
  height: 1024px;
  display: flex;
  overflow: hidden;
  position: relative;
  max-width: 2500;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.student-confirmation1-rectangle9 {
  top: -13px;
  left: 0px;
  width: 2500px;
  height: 77px;
  position: absolute;
}
.student-confirmation1-text {
  top: 202px;
  left: 0px;
  color: rgba(0, 0, 0, 1);
  right: 0px;
  height: auto;
  margin: auto;
  position: absolute;
  font-size: 36px;
  font-style: Regular;
  text-align: center;
  font-family: Crimson Text;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.student-confirmation1-form {
  width: 976px;
  height: 418px;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.student-confirmation1-navlink {
  display: contents;
}
.student-confirmation1-cancelmeeting2 {
  top: 523px;
  left: 129px;
  width: 264px;
  height: 144px;
  display: flex;
  position: absolute;
  align-self: flex-start;
  align-items: flex-start;
  flex-shrink: 0;
  text-decoration: none;
}
.student-confirmation1-rectangle6 {
  top: 0px;
  left: 0px;
  width: 264px;
  height: 144px;
  position: absolute;
  border-radius: 20px;
}
.student-confirmation1-text06 {
  top: 45px;
  left: 47px;
  color: rgba(247, 247, 247, 1);
  width: 173px;
  height: auto;
  position: absolute;
  font-size: 36px;
  font-style: Regular;
  text-align: center;
  font-family: Crimson Text;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.student-confirmation1-navlink1 {
  display: contents;
}
.student-confirmation1-confirmps {
  top: 525px;
  right: 158px;
  width: 264px;
  height: 144px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  text-decoration: none;
}
.student-confirmation1-rectangle61 {
  top: 0px;
  left: 0px;
  width: 264px;
  height: 144px;
  position: absolute;
  border-radius: 20px;
}
.student-confirmation1-text08 {
  top: 45px;
  left: 47px;
  color: rgba(247, 247, 247, 1);
  width: 173px;
  height: auto;
  position: absolute;
  font-size: 36px;
  font-style: Regular;
  text-align: center;
  font-family: Crimson Text;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
@media(max-width: 767px) {
  .student-confirmation1-confirmps {
    top: 525px;
    left: 404px;
  }
}
@media(max-width: 479px) {
  .student-confirmation1-text {
    font-size: 28px;
  }
  .student-confirmation1-cancelmeeting2 {
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: auto;
  }
  .student-confirmation1-rectangle6 {
    left: 0px;
    right: 0px;
    margin: auto;
  }
  .student-confirmation1-confirmps {
    top: 480px;
    left: 0px;
    right: 0px;
    margin: auto;
  }
}
